PORT=<PORT>

DATABASE_URL=postgres://<USER_NAME>:<PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>

GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>

JWT_SECRET=<JWT_SECRET>

GOOGLE_APPLICATION_CREDENTIALS=<GOOGLE_APPLICATION_CREDENTIALS_PATH>

GCS_BUCKET_NAME=<YOUR_BUCKET_NAME>